<StackLayout class="page" background="#4CA50D">
	<StackLayout class="page-content">
    <label text="&#xf39e;X" class="fa"  (tap)="close()"></label>
    
		<Image class="images" src="~/app/images/logo.png"></Image> 
		<TabView [(ngModel)]="tabSelectedIndex" class="tabed">
			<StackLayout class="items" *tabItem="{title: 'Login'}">      
				<StackLayout margin="10"  class="form" >   
					<Label class="notes" text=""></Label>
					<StackLayout class="input-field">
						<textField required class="input-email" hint="Email" [(ngModel)]="user.email" keyboardType="email"></textField>
					</StackLayout>  
					<StackLayout class="input-field">
						<textField required class="input-email" hint="Password" [(ngModel)]="user.password" keyboardType="email" secure="true"></textField>
					</StackLayout>  
					<button text="Log in" class="sign-btn" (tap)="login()"></button>    
					<Label class="notesys" text="Forgot password?"></Label>    
				</StackLayout>
  				<ActivityIndicator color="orange" busy="{{isBusy}}"></ActivityIndicator> 
  
			</StackLayout> 
			<StackLayout *tabItem="{title: 'Sign up'}">               
				<StackLayout margin="10"  class="form" >
						<Label class="notes" text=""></Label>
						<StackLayout class="input-field">
							<textField required class="input-email" hint="Username" [(ngModel)]="user.username" keyboardType="email"></textField>
						</StackLayout>
						<StackLayout class="input-field">
							<textField required class="input-email" hint="Email" [(ngModel)]="user.email" keyboardType="email"></textField>
						</StackLayout>
						<StackLayout class="input-field">
							<textField required class="input-email" hint="Password" [(ngModel)]="user.password" keyboardType="email" secure="true"></textField>
						</StackLayout>  
						<StackLayout class="input-field">
							<textField required class="input-email" hint="Password" [(ngModel)]="user.cpassword" keyboardType="email" secure="true"></textField>
						</StackLayout> 
						<button text="Signup" class="sign-btn" (tap)="signup()"></button>  
				</StackLayout> 
			</StackLayout>
		</TabView>
		       
  </StackLayout>
  <Label class="notesy" verticalAlignment="bottom" text="Don't have a account? Sign up"></Label>
</StackLayout>