<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Explore', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet 
        *tabItem="{title: 'Sell', iconSource: getIconSource('browse')}"
        name="browseTab" class="sell">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'My Account', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>
    
</TabView>