<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Explore', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Sell', iconSource: getIconSource('browse')}"
        name="sellTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'My Account', iconSource: getIconSource('icon')}"
        name="myaccountTab">
    </page-router-outlet>
    

</TabView>