<!--ActionBar class="action-bar">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar-->
<page> 
    <StackLayout class="login-page"> 
        <StackLayout class="login-text">
            <FlexboxLayout class="user-profile">
                <Image src="~/app/images/Sed-41-512.png" class="user-img"></Image> 
                <StackLayout class="user-name">
                    <label text="Log In" class="login-head"></label> 
                    <label text="login in to your account" class="login-detail"></label>  
                </StackLayout>
            </FlexboxLayout>                
            <GridLayout class="list-group-item" rows="auto" columns="auto, *">
                <Image row="0" col="0" src="~/app/images/Sed-41-512.png" class="thumb img-rounded"></Image>                  
                <StackLayout row="0" col="1" >
                    <label text="Help & Support" class="login-head"></label> 
                    <label text="Help center and legal terms" class="login-detail"></label>  
                </StackLayout>
                <StackLayout row="0" col="2" >
                    <label text="" class="login-head"></label>  
                </StackLayout> 
            </GridLayout>
        </StackLayout>            
        <StackLayout class="form">    
            <Button text="login or register" (tap)="showModal()" class="btn btn-primary Reg-btn"></Button>
        </StackLayout> 
        <label text="-- OR --"  class="text-center" color="#000" ></label>   
        <DockLayout orientation="horizontal" horizontalAlignment="center">
            <Label class="social fab fb" text="&#xf39e;" (tap)="fblogin()"></Label>
            <Label class="fab social go" text="&#xf1a0;" (tap)="gologin()"></Label>                              
        </DockLayout>          
    </StackLayout>
</page>