// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class

.page-content {
    .page-placeholder {
        //color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        //horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        //horizontal-align: center;
        //color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
 
.page{
    background-color: #82c422;
    color:#fff;
}
.page-content{
    margin:20;
}
.page TabView {
    tab-text-color: #fff;
    tab-background-color: #82c422;
    selected-tab-text-color: white;
    android-selected-tab-highlight-color: orange;
    tab-border-width:8;
}
.form .input-email{
    border-width :0 0 1 0;
    padding:8 0;
    font-size:17;
    margin: 0;
    border-color: #fff;
    color:#fff;
}
.sign-btn{
    border-radius: 50%;
    border-width:1;
    background:#FDB60C;
    border-color:#fff;
    font-weight:bold;
    font-size:17;
    padding:0;
    height:40;
    margin: 25 0 20;
}
.notesys{
    text-align:center;
    font-size: 18;
}
.notesy{
    transform: translateY(130);
    text-align:center;
}
.images{
    margin:40 0;
}