<ActionBar class="pageaction-bar"> 
    <ActionItem ios.position="left" android.position="popup">
    <label text="&#xf3c5;  chandigarh" class="icon fas"></label>
    </ActionItem> 
    <ActionItem class="icon fas" ios.position="right">  
    <label text="&#xf0f3;" class="icon fas"></label>
    </ActionItem>  
</ActionBar>
 <ScrollView> 
    <StackLayout class="gray">
    <StackLayout>
        <SearchBar class="searchbr" hint="Find any item " color="white" textFieldHintColor="#999"></SearchBar>
    </StackLayout>
    <label text="fresh recommendations" class="item-head"></label>
                <!---StackLayout class="input-field" orientation="vertical"> 
                    <DockLayout class="footer"> 
                    <Label class="fas footer-act" dock="right" text="&#xf0f3;"></Label>
                    <Label class="footer-act fas" dock="left" text="&#xf3c5;  chandigarhs df"></Label>
                    </DockLayout>
                    <textField required class="input-email fas" hint="&#xf002;  Find Any Products" keyboardType="email" style.placeholderColor="#fff"></textField>
                </StackLayout-->
		<WrapLayout orientation="horizontal" horizontalAlignment="center" class="list-item">  
            <StackLayout class="colm-list" *ngFor="let item of ads"> 
                <Image class="list-images" src="~/app/images/arjantractor.jpg"></Image>
                <label text="&#xf156; {{item.price}}" class="item-price fas"></label>
                <label text="{{item.adtitle}}" class="item-name"></label>
                <label text="2017 - 78000km" class="item-km" ></label> 
                <Label class="item-locat fas" text="&#xf3c5;  {{item.location}}"></Label>
            </StackLayout> 
        </WrapLayout>
        <!--GridLayout orientation="horizontal" horizontalAlignment="center" columns="auto, auto" rows="*,*,*">
            <StackLayout  row="0" col="0" backgroundColor="red"> 
                <Image class="list-images" src="~/app/images/Sed-41-512.png"></Image>
                <label text="news"></label>
            </StackLayout>
            <StackLayout row="0" col="1" backgroundColor="blue"> 
                <Image class="list-images" src="~/app/images/Sed-41-512.png"></Image>
                <label text="webs"></label>
            </StackLayout>
            <StackLayout row="1" col="0" backgroundColor="pink"> 
                <Image class="list-images" src="~/app/images/Sed-41-512.png"></Image>
                <label text="gnet"></label>
            </StackLayout>
            <StackLayout row="1" col="1" backgroundColor="green"> 
                <Image class="list-images" src="~/app/images/Sed-41-512.png"></Image>
                <label text="gnet"></label>
            </StackLayout>
            <StackLayout row="2" col="0" backgroundColor="orange"> 
                <Image class="list-images" src="~/app/images/Sed-41-512.png"></Image>
                <label text="gnet"></label>
            </StackLayout>
            <StackLayout row="2" col="1" backgroundColor="#ccc"> 
                <Image class="list-images" src="~/app/images/Sed-41-512.png"></Image>
                <label text="gnet"></label>
            </StackLayout>
        </GridLayout-->
    </StackLayout>
</ScrollView>